@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

.pic-post{
    margin-left: auto;
    width: 100px;
    height: 100px;
}

.wait{
    margin-left: 20px;
}