@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

.logo3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

ion-buttons{
  margin-left: 20px;
  font-size: 25px;
}