@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

ion-item{
  margin-top: 20px;
}
  
.title{
  text-align: left;
  font-size: 35px;
}

  
.btn_login{
  margin-left: 90px;
  margin-bottom: 20px;
}