ion-content{
    text-align: center;
}

.logo2{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
}
p{
    margin-bottom: 10px;
    font-size: 30px;
}

span{
    margin-bottom: 10px;
    font-size: 30px;
}

.button-add{
    width: 100%;
}