@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

.title{
    font-size: 35px;
    margin-top: 20px;
}

.button-go{
    height: auto;
}

ion-content{
    text-align: center;
}

button-go{
    height: auto;
}

.logo2{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
}
p{
    margin-bottom: 10px;
    font-size: 25px;
}

span{
    margin-bottom: 10px;
    font-size: 30px;
}

.button-add{
    width: 80%;
}