ion-content{
    text-align: center; 
}

p{
    margin-bottom: 10px;
    font-size: 25px;
}

.title{
    margin-top: 10px;
}

.msg-error{
    color: red;
    margin-top: 2px;
    text-align: initial;
}

.tag{
    text-align: initial;
    font-size: 20px; 
    margin-left: 10px;  
    margin-bottom: 10px;
}