@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

.header{
    margin-top: 20px;
    text-align: left;
    font-size: 35px;
}

.upload_img{
    height: auto;
    margin-bottom: 10px;
}

.upload{
    width: 40%;
}

ion-content{
    text-align: center; 
}

p{
    margin-bottom: 10px;
}

.title{
    margin-top: 10px;
}

.msg-error{
    color: red;
    margin-top: 2px;
    text-align: initial;
    margin-left: 10px;
}

.tag{
    text-align: initial;
    font-size: 20px; 
    margin-left: 10px;  
    margin-bottom: 10px;
}