ion-item{
  --border-color: var(--ion-color-danger, #f1453d);
  margin-top: 5px;
}

.title{
  text-align: left;
  font-size: 35px;
}

.login-btn{
  text-align: right;
}

.name{
  color: aqua;
  font-size: 25px;
}