@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}

ion-item{
  margin-top: 20px;
}

.title{
  text-align: left;
  font-size: 35px;
}

.login-btn{
  text-align: right;
}

.name{
  color: aqua;
  font-size: 25px;
}