<br>
<br>
<br>


<ion-content class="ion-padding">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="title">
          Daily
        </ion-col>
        <ion-col class="login-btn">
          Welcome <span class="name">{{name}}</span>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
  <h1>content</h1>
</ion-content>