ion-title{
    text-align: center;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 15px;
}

.img_bg{
    height: auto;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.img_review{
    margin-top: 10px;
    margin-bottom: 10px ;
    width: 70%;
}

.avater{
    width: 10%;
}