@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}


ion-title{
    text-align: center;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 15px;
}




.title{
    margin-left: 10px; 
    font-size: 30px;
}

.tag{
    margin-left: 10px; 
    font-size: 15px; 
}

.avartar_date{
    margin-left: 10px; 
    font-size: 10px;
}

.avater{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post_name{
    margin-bottom: 90px;
}

.img_bg{
    height: auto;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.img_review{
    margin-top: 10px;
    margin-bottom: 10px ;
    width: 70%;
}



.btn_group{
    text-align: right;
}

.msg-error{
    color: red;
    margin-top: 2px;
    text-align: initial;
}