@import 'https://fonts.googleapis.com/css?family=Gelasio&display=swap';

*{
  font-family: 'Gelasio', serif;
}


.logo3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.signup-input{
    text-align: center;
    width: 100%;
    display: inline-block; 
}

ion-input {
    font-size: 20px;
}

.signup-header{
    width: 80%;
    display: inline-block; 
    color: #f84c61;
}

.msg-error{
    color: red;
    margin-top: 2px;
    text-align: initial;
}

signup-header{
    text-align: start; 
}

ion-content{
    text-align: center; 
}

